.container-grid {
    margin-top: 20px;
}

.grid-table {
    margin-top: 20px;
}

.custom-select {
    position: relative;
    font-family: Arial;
  }
  
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
  
.select-selected {
    background-color: DodgerBlue;
}